<html>
<head>
    <style>
        span {
            color: red;
        }
    </style>
</head>
<body>
<p>Hello, This is my first transactional email sent from Brevo. <span>{{ myVar }}</span></p>

</body>
</html>